html {
  position: relative;
  min-height: 100%;
}

/* Modal */
.modal{
  .close {
    font-size: 1.5rem;
  }
}

/*dropdown*/
.dropdown-toggle::after {
  vertical-align: 0.15em;
}

/*custom select*/
.custom-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}