html {
  position: relative;
  min-height: 100%;
}

/* Content*/
.sidebar--content{
  overflow-x: hidden;
  overflow-y: auto;
  //display: flex;
  margin-top: $navbar-height;
  margin-left: $sidebar-width;
  @include media-breakpoint-down(lg) {
    margin-left: 0px;
  }
}

/* Sidebar*/
.sidebar--menu {
  //background: darken(#f5f7fb, 5%);
  border-right: 1px solid $border-color;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  padding-top:$navbar-height;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar{ display: none;}
  .navbar-nav {
    width: 100%;
    .nav-item {
      display: block;
      &.active {
        .nav-link, .fas {
          color: $primary;
        }
      }
      &:hover{
        .nav-link {
          color: $primary;
        }
        //background: darken(#f5f7fb,10%);
      }
    }

    .nav-link {
      display: block;
      color: $body-color;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  @include media-breakpoint-down(lg) {
    padding-top: 0px;
  }

}

/* Container */
@include media-breakpoint-down(sm) {
  .container{max-width: 100%}

}

/* Navbar Custom */
.navbar-custom{
  //&:after{
  //    bottom: -5px;
  //    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
  //    content: "";
  //    height: 5px;
  //    left: 0px;
  //    opacity: 1;
  //    pointer-events: none;
  //    right: 0px;
  //    width: 100%;
  //    position: absolute;
  //}
  border-bottom: 1px solid $border-color;
  .navbar-nav{
    li{
      &:first-child{
        .nav-link{
          @extend .pl-0;
        }
      }
      &:last-child{
        .nav-link{
          @extend .pr-0;
        }
      }
    }
    .nav-item{
      .nav-link{
        @extend .text-grey;
      }
    }
    .dropdown-menu{position: absolute}
  }
}


/* Modal */
.modal{
  .close {
    font-size: 1.5rem;
  }
}

/*dropdown*/
.dropdown-toggle::after {
  vertical-align: 0.15em;
}

/*Form control*/
.form-control{
  &.disabled,
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    color: $gray-500;
    background-color: $gray-100;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }
  &[disabled],
  fieldset[disabled] & {
    cursor: no-drop;
  }
}


/*row hack */
@include media-breakpoint-down(md) {
  .row-reset-md{
    display: block !important;
    &.col{display: block !important;}
  }
}
@include media-breakpoint-down(sm) {
  .row-reset-sm{
    display: block !important;
    &.col{display: block !important;}
  }
}
@include media-breakpoint-down(xs) {
  .row-reset-xs{
    display: block !important;
    &.col{display: block !important;}
  }
}


/*img-fluid*/
@include media-breakpoint-down(sm) {
  .img-fluid-sm{
    max-width: 100% !important;
  }

}

/*btn-block*/
@include media-breakpoint-down(sm) {
  .btn-block-sm{
    width: 100%;
  }
}

/*custom select*/
.custom-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}